<!DOCTYPE html>
<html lang="en">

<head>
    <title>Thuê Trọ</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link href="/css/home.css" rel="stylesheet">
</head>

<body>

    <nav class="navbar navbar-light navbar-fixed-top navbar-custom" role="navigation" style="background-color: #ffffff;">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-nav"> <span class="sr-only"></span>
            </button>
                <b><a class="navbar-brand " href="home"><span class="hidden-xs" style="font-size: x-large">Thuê Trọ</span></a></b>
                <form class="navbar-search">
                    <div class="form-group">
                        <div class="input-group">
                            <input class="form-control" name="search" placeholder="Tìm kiếm nơi mà bạn muốn ..." autocomplete="off" autofocus="autofocus" type="text">
                            <span class="input-group-btn"> 
                                 <button class="btn btn-default" type="button">
                                    <i class="glyphicon glyphicon glyphicon-search"></i>
                                     Tìm kiếm
                                </button>
                                </span>
                        </div>
                    </div>
                </form>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="login"><span class="glyphicon glyphicon-user" style="color: #8e93b9;"></span> 
                                <span style="color:#8e93b9;">Đăng nhập</span>
                                </a></li>
                    <li>
                        <a href="#">
                            <li><a href="#"><span class="glyphicon glyphicon glyphicon-bell" style="color:#8e93b9;"></span> 
                                    <span style="color: #8e93b9">Thông báo</span>
                                    </a></li>
                </ul>
            </div>
        </div>
    </nav>